# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
src/main/resources/application.properties
src/main/resources/db/migration/V1__Init_db.sql
src/main/resources/static/assets/css/main.css
src/main/resources/static/assets/css/main.css.map
src/main/resources/static/assets/css/owl.carousel.min.css
src/main/resources/static/assets/css/owl.theme.default.min.css
src/main/resources/static/assets/img/adidas.svg
src/main/resources/static/assets/img/apple_btn.png
src/main/resources/static/assets/img/booking.svg
src/main/resources/static/assets/img/cover.jpg
src/main/resources/static/assets/img/google_btn.png
src/main/resources/static/assets/img/kh1.jpg
src/main/resources/static/assets/img/kh10.jpg
src/main/resources/static/assets/img/kh11.jpg
src/main/resources/static/assets/img/kh12.jpg
src/main/resources/static/assets/img/kh13.jpg
src/main/resources/static/assets/img/kh14.jpg
src/main/resources/static/assets/img/kh2.jpg
src/main/resources/static/assets/img/kh3.jpg
src/main/resources/static/assets/img/kh4.jpg
src/main/resources/static/assets/img/kh5.jpg
src/main/resources/static/assets/img/kh6.jpg
src/main/resources/static/assets/img/kh8.jpg
src/main/resources/static/assets/img/kh9.jpg
src/main/resources/static/assets/img/logo-coral-white.svg
src/main/resources/static/assets/img/logo-coral.svg
src/main/resources/static/assets/img/mercedes.svg
src/main/resources/static/assets/img/paypal.svg
src/main/resources/static/assets/img/pinterest.svg
src/main/resources/static/assets/img/pngkit_udemy-logo-png_2223616.png
src/main/resources/static/assets/img/s1.jpg
src/main/resources/static/assets/img/s2.jpg
src/main/resources/static/assets/img/s3.jpg
src/main/resources/static/assets/img/s4.jpg
src/main/resources/static/assets/img/s5.jpg
src/main/resources/static/assets/img/s6.jpg
src/main/resources/static/assets/img/udemy-logo-semi-transparent.svg
src/main/resources/static/assets/img/volkswagen.svg
src/main/resources/static/assets/js/main.js
src/main/resources/static/assets/js/owl.carousel.min.js
src/main/resources/static/assets/sass/Base/_customize.scss
src/main/resources/static/assets/sass/Base/_reset.scss
src/main/resources/static/assets/sass/Components/_button.scss
src/main/resources/static/assets/sass/Components/_card.scss
src/main/resources/static/assets/sass/Components/_cover.scss
src/main/resources/static/assets/sass/Helpers/_extend.scss
src/main/resources/static/assets/sass/Helpers/_mixin.scss
src/main/resources/static/assets/sass/Helpers/_variables.scss
src/main/resources/static/assets/sass/Layouts/_banner.scss
src/main/resources/static/assets/sass/Layouts/_categories.scss
src/main/resources/static/assets/sass/Layouts/_courses.scss
src/main/resources/static/assets/sass/Layouts/_footer.scss
src/main/resources/static/assets/sass/Layouts/_header.scss
src/main/resources/static/assets/sass/Layouts/_intro.scss
src/main/resources/static/assets/sass/Layouts/_jobs.scss
src/main/resources/static/assets/sass/Layouts/_partners.scss
src/main/resources/static/assets/sass/Layouts/_students.scss
src/main/resources/static/assets/sass/Layouts/_viewing.scss
src/main/resources/static/assets/sass/main.scss
src/main/resources/static/assets/sass/Pages/_home.scss
src/main/resources/templates/decorators.xml
src/main/resources/templates/decorators/layout.jsp
src/main/resources/templates/views/home.jsp
src/main/resources/templates/views/layout/footer.jsp
src/main/resources/templates/views/layout/header.jsp
target/classes/application.properties
target/classes/db/migration/V1__Init_db.sql
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.luv2code.java14/elearning/pom.properties
target/classes/META-INF/maven/com.luv2code.java14/elearning/pom.xml
target/classes/static/assets/css/main.css
target/classes/static/assets/css/main.css.map
target/classes/static/assets/css/owl.carousel.min.css
target/classes/static/assets/css/owl.theme.default.min.css
target/classes/static/assets/img/adidas.svg
target/classes/static/assets/img/apple_btn.png
target/classes/static/assets/img/booking.svg
target/classes/static/assets/img/cover.jpg
target/classes/static/assets/img/google_btn.png
target/classes/static/assets/img/kh1.jpg
target/classes/static/assets/img/kh10.jpg
target/classes/static/assets/img/kh11.jpg
target/classes/static/assets/img/kh12.jpg
target/classes/static/assets/img/kh13.jpg
target/classes/static/assets/img/kh14.jpg
target/classes/static/assets/img/kh2.jpg
target/classes/static/assets/img/kh3.jpg
target/classes/static/assets/img/kh4.jpg
target/classes/static/assets/img/kh5.jpg
target/classes/static/assets/img/kh6.jpg
target/classes/static/assets/img/kh8.jpg
target/classes/static/assets/img/kh9.jpg
target/classes/static/assets/img/logo-coral-white.svg
target/classes/static/assets/img/logo-coral.svg
target/classes/static/assets/img/mercedes.svg
target/classes/static/assets/img/paypal.svg
target/classes/static/assets/img/pinterest.svg
target/classes/static/assets/img/pngkit_udemy-logo-png_2223616.png
target/classes/static/assets/img/s1.jpg
target/classes/static/assets/img/s2.jpg
target/classes/static/assets/img/s3.jpg
target/classes/static/assets/img/s4.jpg
target/classes/static/assets/img/s5.jpg
target/classes/static/assets/img/s6.jpg
target/classes/static/assets/img/udemy-logo-semi-transparent.svg
target/classes/static/assets/img/volkswagen.svg
target/classes/static/assets/js/main.js
target/classes/static/assets/js/owl.carousel.min.js
target/classes/static/assets/sass/Base/_customize.scss
target/classes/static/assets/sass/Base/_reset.scss
target/classes/static/assets/sass/Components/_button.scss
target/classes/static/assets/sass/Components/_card.scss
target/classes/static/assets/sass/Components/_cover.scss
target/classes/static/assets/sass/Helpers/_extend.scss
target/classes/static/assets/sass/Helpers/_mixin.scss
target/classes/static/assets/sass/Helpers/_variables.scss
target/classes/static/assets/sass/Layouts/_banner.scss
target/classes/static/assets/sass/Layouts/_categories.scss
target/classes/static/assets/sass/Layouts/_courses.scss
target/classes/static/assets/sass/Layouts/_footer.scss
target/classes/static/assets/sass/Layouts/_header.scss
target/classes/static/assets/sass/Layouts/_intro.scss
target/classes/static/assets/sass/Layouts/_jobs.scss
target/classes/static/assets/sass/Layouts/_partners.scss
target/classes/static/assets/sass/Layouts/_students.scss
target/classes/static/assets/sass/Layouts/_viewing.scss
target/classes/static/assets/sass/main.scss
target/classes/static/assets/sass/Pages/_home.scss
target/classes/templates/decorators.xml
target/classes/templates/decorators/layout.jsp
target/classes/templates/views/home.jsp
target/classes/templates/views/layout/footer.jsp
target/classes/templates/views/layout/header.jsp
src/main/resources/application.properties
target/classes/application.properties
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.luv2code.java14/elearning/pom.properties
target/classes/META-INF/maven/com.luv2code.java14/elearning/pom.xml
